*{
    margin: 0;
    padding: 0;
}

.mamografia{
    background-image: linear-gradient(blueviolet,#FFFFFF);
    height: 500px;
    padding: 100px;
    color: #FFFFFF;
    display: flex;
}

.cabecalho{
    background-color: blueviolet;
display: flex;
justify-content: space-around;

}

.somos-quem{ 
    padding: 20px;
}

.lista-cabecalho{
 color: cornsilk;
     front: size 70px;

}

.lista-item{ 
    display: inline-block;
}

.primeiro-paragrafo{
    padding: 15px;
}

.foto-estudante {
    width: 15%;
}