*{
    margin: 0;
    padding: 0;
}

.mamografia{
    background-image: linear-gradient(rgb(91, 30, 148),rgb(145, 107, 180));
    height: 500px;
    padding: 100px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.cabecalho{
    background-color: rgb(91, 30, 148);
display: flex;
justify-content: space-around;

}

.textos {
    width: 35%;
    padding: 15px;
}

.somos-quem{ 
    padding: 20px;
}

.lista-cabecalho{
 color: cornsilk;
 font-size: 30px;
 display: flex;
 align-items: center    ;
}

.lista-item{ 
    display: inline-block;
    padding: 0 12px;
}
.presentin, .segundo-paragrafo{
    padding: 10px 0;
}
.primeiro-paragrafo{
    padding: 30px;
}

.foto-estudante {
    width: 40%;
    
}

.foto-doestudante {
    width: 25%;

}

.imagem-icone {
    width: 30px;


}